.App {
  text-align: center;
}

.content-container {
  background-color: #bfcbe2;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  flex: 1;
}

.selectors {
  display: flex;
  flex-direction: row;
  color: white;
}

.bottom-nav {
  background-color: #282c34;
}

.footer {
  height: 100px;
}

.select {
  min-width: 120,
}